%html
%head
  %title
    Apotomo-Datatables Dev
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  :javascript
    //set the controller and action names for document_ready.js 
    var controller=[];
    controller.controller_name="#{controller.controller_name}";
    controller.action_name="#{controller.action_name}";
%body
  = yield
